{% extends 'base.html.twig' %}

{% block title %}Create New Issue{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Create a New Issue</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group">
            {{ form_label(form.status) }}
            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.status) }}
        </div>

        <div class="form-group">
            {{ form_label(form.assignedUsers) }}
            {{ form_widget(form.assignedUsers, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.assignedUsers) }}
        </div>

        <div class="form-group">
            {{ form_label(form.assignedAt) }}
            {{ form_widget(form.assignedAt, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.assignedAt) }}
        </div>

        <div class="form-group">
            {{ form_label(form.task) }}
            {{ form_widget(form.task, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.task) }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Create Issue</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
