{% extends 'base.html.twig' %}

{% block title %}Create New Brand{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Create New Brand</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter project name'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group mt-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter project description'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <button class="btn btn-success mt-3 w-100">Create Brand</button>
        {{ form_end(form) }}

        <a href="{{ path('all_brands') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
    </div>
{% endblock %}
