{% extends 'base.html.twig' %}

{% block title %}Brand Details{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div>
                    <div class="card-body">
                        <h1 class="text-center mb-4">Brand Details</h1>
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <td>{{ brand.name }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ brand.description }}</td>
                            </tr>
                            <tr>
                                <th>Total Time Spent</th>
                                <td>{{ totalTimeSpent }} hours</td>
                            </tr>
                        </table>

                        <h1 class="text-center mb-4">Projects</h1>
                        <table class="table table-hover">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in brand.projects %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description }}</td>
                                    <td>
                                        <a href="{{ path('project_show', {'projectId': project.id}) }}" class="btn btn-outline-info btn-sm">View</a>
                                        <a href="{{ path('project_edit', {'projectId': project.id}) }}" class="btn btn-outline-primary btn-sm">Edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center text-muted">No projects found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('brand_edit', {'brandId': brand.id}) }}" class="btn btn-primary mt-3 w-100">Edit</a>
                        <a href="{{ path('all_brands') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
