{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit Task</h1>
        <div class="form-container">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.status) }}
                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.status) }}
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.createdAt) }}
                {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.createdAt) }}
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.deadline) }}
                {{ form_widget(form.deadline, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.deadline) }}
            </div>

            <div class="form-group mt-3">
                {{ form_label(form.project) }}
                {{ form_widget(form.project, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.project) }}
            </div>


            <button class="btn btn-primary mt-4 w-100">Save Changes</button>
            {{ form_end(form) }}

            <a href="{{ path('all_tasks') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
        </div>
    </div>
{% endblock %}
