{% extends 'base.html.twig' %}

{% block title %}Task Details{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Task Details</h1>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ task.description }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ task.status|capitalize }}</td>
                </tr>
                <tr>
                    <th>Total Time Spent</th>
                    <td>{{ totalTimeSpent }} hours</td>
                </tr>
                <tr>
                    <th>Project</th>
                    <td>{{ task.project.name }}</td>
                </tr>
            </table>

            <h3 class="text-center mt-5">Issues</h3>
            <ul class="list-group mt-3">
                {% for issue in task.issues %}
                    <li class="list-group-item">
                        <a href="{{ path('issue_show', {'issueId': issue.id}) }}">{{ issue.name }}</a>
                    </li>
                {% else %}
                    <li class="list-group-item">No issues found for this task.</li>
                {% endfor %}
            </ul>

            <a href="{{ path('task_edit', {'taskId': task.id}) }}" class="btn btn-warning mt-3 w-100">Edit</a>
            <a href="{{ path('all_tasks') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
        </div>
    </div>
{% endblock %}
