{# templates/note/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create New Note{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Create New Note</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter note name'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group mt-3">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Enter note description'}}) }}
            {{ form_errors(form.content) }}
        </div>
        <button class="btn btn-success mt-3 w-100">Create Note</button>
        {{ form_end(form) }}

        <a href="{{ path('note_index') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
    </div>
{% endblock %}
