{% extends 'base.html.twig' %}

{% block title %}Archived Issues - {{ project.name }}{% endblock %}

{% block body %}
    <div class="archive-page">

        <h1 class="archive-title">Archived Issues for Project: {{ project.name }}</h1>

        {% if archived_issues is empty %}
            <p>No archived issues found for this project.</p>
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>Issue Name</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for issue in archived_issues %}
                    <tr>
                        <td>{{ issue.name }}</td>
                        <td>{{ issue.status }}</td>
                        <td>{{ issue.priority }}</td>
                        <td>{{ issue.description }}</td>
                        <td>
                            <!-- Archive button -->
                            <div class="button-container">
                                <form method="POST" class="formm" action="{{ path('unarchive', {'id': issue.id}) }}">
                                    <button type="submit" class="btn">UnArchive</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <a class="btn" href="{{ path('project_show', { id: project.id }) }}">Back to Project</a>
    </div>
{% endblock %}
