{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="project-index-page">
        <h1>PROJELER</h1>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>AD</th>
                <th>AÇIKLAMA</th>
                <th>BAŞLANGIÇ</th>
                <th>BİTİŞ</th>
                <th>EYLEMLER</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    {% set words = project.description|split(' ') %}
                    <td>{{ words|slice(0, 10)|join(' ') }}{% if words|length > 10 %}...{% endif %}</td>

                    <td>{{ project.startDate ? project.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ project.endDate ? project.endDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="button-container">
                            <button id="butonum">Show</button>
                            <button id="butonum">Edit</button>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('project_new') }}" class="new-project-btn">+ Yeni Proje Ekle</a>

    </div>
{% endblock %}
