{% extends 'base.html.twig' %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block body %}
    <div class="project-header">
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <a class="archive-btn" href="{{ path('project_archived_issues', { id: project.id }) }}">
            <i class="fas fa-archive"></i> View Archive
        </a>
    </div>
    <div class="filter-section">

        <div class="filter-options">
            <div class="filter-option">
                <label for="status-filter">Status:</label>
                <input id="status-filter" class="filter-tagify" placeholder="Select status...">
            </div>
            <div class="filter-option">
                <label for="priority-filter">Priority:</label>
                <input id="priority-filter" class="filter-tagify" placeholder="Select priority...">
            </div>
            <div class="filter-option">
                <label for="assignee-filter">Assignee:</label>
                <input id="assignee-filter" class="filter-tagify" placeholder="Select assignee...">
            </div>
        </div>
        <button id="apply-filters">Apply Filters</button>
        <button id="clear-filters">Clear Filters</button>
    </div>
    <div class="project-page container">
        <!-- Grouped Issues Table -->
        <div class="issue-groups">
            {% for tag in tags %}
                <div class="group">
                    <!-- Tag Group Header with color -->
                    <div class="group-header" style="border-left: 20px solid {{ tag.color }}; border-radius:5px;">
                        <h3>{{ tag.name }}</h3>
                    </div>
                    <table class="issue-table">
                        <thead>
                        <tr>
                            <th>Görev</th>
                            <th>Kişi</th>
                            <th>Durum</th>
                            <th>Tarih</th>
                            <th>ÖNCELİK</th>
                            {% if is_granted('ROLE_ADMIN') %}
                            <th>EYLEMLER</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if tag.issues|length > 0 %}
                            {% for issue in tag.issues %}
                                {% if app.user.name in issue.assignees or is_granted('ROLE_ADMIN')%}
                                    <tr>
                                        <td class="issue-name-td">
                                            <div class="issue-name-container">
                                                <span class="issue-name" data-id="{{ issue.id }}" contenteditable="true">{{ issue.name }}</span>
                                                <button class="open-updates-modal-btn" data-id="{{ issue.id }}">
                                                    <i class="fa-regular fa-comment"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-list">
                                                <input class="tagify-input" name="assignees" data-id="{{ issue.id }}"
                                                       value="{% for user in issue.assignees %}{{ user }}{% if not loop.last %}, {% endif %}{% endfor %}"
                                                       placeholder="Kişi seç...">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="status-tagify-container">
                                                <input class="status-tagify" name="status" data-id="{{ issue.id }}"
                                                       value="{{ issue.status }}" placeholder="Durum seç...">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="datepicker" data-id="{{ issue.id }}" value="{{ issue.endDate ? issue.endDate|date('d M Y') : 'No Deadline' }}">
                                        </td>
                                        <td>
                                            <div class="priority-tagify-container">
                                                <input class="priority-tagify" name="priority" data-id="{{ issue.id }}" value="{{ issue.priority }}" placeholder="Öncelik seç...">
                                            </div>
                                        </td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <div class="archive-button-container">
                                                <form method="POST" class="archive-form" action="{{ path('archive_issue', {'id': issue.id}) }}">
                                                    <button type="submit" id="archive-button" class="archive-button">Archive</button>
                                                </form>
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            <tr class="add-issue-row">
                                <td colspan="6">
                                    <a href="#" class="add-issue-link" data-tag-id="{{ tag.id }}">
                                        <i class="fas fa-plus"></i> öğe ekle
                                    </a>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="6">No issues available under this group. <a href="#" class="add-issue-link" data-tag-id="{{ tag.id }}">
                                        <i class="fas fa-plus"></i> öğe ekle
                                    </a></td>

                            </tr>

                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

        <!-- Add New Group Button -->
        <button class="btn new-group-btn" id="add-group-btn">+ Yeni grup ekle</button>

        <!-- Modal for adding a new group -->
        <div id="add-group-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h2>Yeni Grup Ekle</h2>
                <form id="add-group-form">
                    <div class="form-group">
                        <label for="groupName">Group Name</label>
                        <input type="text" id="groupName" name="group_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="groupColor">Group Color</label>
                        <input type="color" id="groupColor" name="group_color" value="#000000" class="form-control" required>
                    </div>

                    <!-- Add CSRF Token -->
                    <input type="hidden" name="_token" value="{{ csrf_token('add_group') }}">

                    <button type="submit" class="btn btn-primary">Add Group</button>
                </form>
            </div>
        </div>
        <!-- Issue Modal -->
        <div id="issueModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit Issue</h2>
                <textarea id="issueDescription" rows="4" cols="50"></textarea>
                <button id="saveDescription">Save</button>
                <div id="post-it-section">
                    <!-- Post-Its will be dynamically inserted here -->
                </div>
                <textarea id="newPostItContent" placeholder="Add a new note..." rows="2" cols="50"></textarea>
                <button id="addPostItButton">Add Note</button>

            </div>
        </div>



    </div>

    <meta name="project-id" content="{{ project.id }}">

{% endblock %}
