{% extends 'base.html.twig' %}

{% block title %}Project Details{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div>
                    <div class="card-body">
                        <h2 class="text-center mb-4">Project Details</h2>
                        <table class="table table-bordered">
                            {% if project %}
                                <tr>
                                    <th>Name</th>
                                    <td>{{ project.name }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ project.description }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ project.status }}</td>
                                </tr>
                                <tr>
                                    <th>Created At</th>
                                    <td>{{ project.createdAt ? project.createdAt|date('d-m-Y') : 'Not assigned' }}</td>
                                </tr>
                                <tr>
                                    <th>Deadline</th>
                                    <td>{{ project.deadline ? project.deadline|date('d-m-Y') : 'Not assigned' }}</td>
                                </tr>
                                <tr>
                                    <th>Total Time Spent</th>
                                    <td>{{ totalTimeSpent }} hours</td>
                                </tr>
                                <tr>
                                    <th>Brand</th>
                                    <td>
                                        {% if project.brand %}
                                            {{ project.brand.name }}
                                        {% else %}
                                            <span class="text-muted font-italic">No Brand</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <p>Project not found.</p>
                            {% endif %}
                        </table>

                        <h3 class="text-center mt-5">Tasks</h3>
                        <ul class="list-group mt-3">
                            {% for task in project.tasks %}
                                <li class="list-group-item">
                                    <a href="{{ path('task_show', {'taskId': task.id}) }}">{{ task.name }}</a>
                                </li>
                            {% else %}
                                <li class="list-group-item">No tasks found for this project.</li>
                            {% endfor %}
                        </ul>

                        <a href="{{ path('project_edit', {'projectId': project.id}) }}" class="btn btn-primary mt-3 w-100">Edit Project</a>
                        <a href="{{ path('all_projects') }}" class="btn btn-secondary mt-3 w-100">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
